:root {
  --first-color: #176B87;
  --second-color: #86B6F6;
  --third-color: #B4D4FF;
  --fourth-color: #EEF5FF;
}


/* 배너 */
nav {
    background-color: var(--fourth-color) !important;
}

nav #logo > a {
  width: fit-content;
}

nav span.name.multiple,
nav li.active > a,
nav li > a:hover {
  color: var(--first-color) !important;
}

nav li.active {
  border-bottom: 4px solid var(--first-color) !important;
}


/* 게시판 종류 보는 곳 */
div#submenu {
    background-color: var(--third-color) !important;
}

div#submenu a.more {
  color: var(--first-color) !important;
}

div#submenu li > a:hover {
  color: var(--first-color) !important;
}

div#submenu li > a.active {
  color: var(--first-color) !important;
}

/* 홈페이지 겉부분 */
body {
    background-color: white !important;
}

/* 책 부분 */
a.item {
    background-color: var(--fourth-color) !important;
}

/* 하단바 */
footer#bottom {
    background-color: var(--third-color) !important;
}

/* 중앙 게시판 */
div.board {
    background-color: white !important;
}

div.board h3 > a {
  color: var(--first-color) !important;
}

/* 프로필 */
div.card.pconly {
    background-color: var(--fourth-color) !important;
}

/* 프로필 밑에 작은 메뉴 */
div.menus {
    background-color: var(--fourth-color) !important;
}