html {
  width: 280px;
  height: fit-content;
}

body {
  background-color: #86B6F6;
  padding: 1.5px;
  box-sizing: border-box;
  height: fit-content;
}

.popup-container {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: #EEF5FF 1px solid;
  margin-bottom: 5px;
}

header > div {
  width: fit-content;
  height: 100%;
  margin: auto 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: #EEF5FF 1px solid;
  margin-top: 5px;
}

footer > .left > button {
  border: none;
  border-radius: 8px;
  background-color: #EEF5FF;
  color: #176B87;
  padding: 3px;
  cursor: pointer;
}

footer > .right img {
  width: 24px;
  height: 24px;
}

img.top-icon {
  width: 48px;
  height: 48px;
}

.option-container {
  display: flex;
  flex-direction: column;
}

.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-container > * {
  margin: 6px 12px;
}

.switch-container div {
  font-size: 16px;
}

/* 토글 스위치 스타일 */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 슬라이더 스타일 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* ON 상태일 때 색상 */
input:checked + .slider {
  background-color: #A1E3F9;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
